/* src/FloatingTailorIcons.css */
.floating-icon {
    position: absolute !important;
    animation: floatY 5s ease-in-out infinite !important;
    will-change: transform;
    height: auto;
    z-index: 10;
  }
  
  
  
  @keyframes floatY {
    0%   { transform: translateY(0px); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
  }
  
  .needle-follow {
    position: fixed;
    width: 40px;
    height: auto;
    pointer-events: none;
    transition: transform 0.1s linear;
    z-index: 50;
  }
  
  